{% extends 'main.html '%}

{% block content %}
{% load cart %}
<style>
    .column {
        float: left;
      }
      
      .left {
        width: 55%;
      }
      
      .middle {
        width: 35%;
      }
      .right{
          width: 10%;
      }
</style>

<div class="countainer">
    <div class="row">
        <div class="column left col-lg-8 p-4 m-4">
            <div class="col-lg-8 border rounded p-4">
                <h3 class="alert alert-light border rounded">Confirm Checkout By Entering Credentials</h3>
                <form action="/checkout" method="POST" >
                    
                    {% csrf_token %}
             
    
    
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" name="name"
                        id="" class="form-control form-control-sm" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="">Address</label>
                        <input type="text" name="address"
                        id=""  class="form-control form-control-sm" placeholder="Last Name">
                    </div>
                    
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" name="email"
                        id=""  class="form-control form-control-sm" placeholder="exmaple@gmail.com">
                    </div>
    
                    <div class="form-group">
                        <label for="">Phone</label>
                        <input type="text" name="phone"
                        id="" class="form-control form-control-sm" placeholder="+923121234567">
                    </div>
                    <input hidden type="text" value="Products: {{products|total_items:request.session.cart}}" name="total_products">
                    <input hidden type="text" value="Bill: ₨.{{products|total_price:request.session.cart}}/-" name="total_bill">
                    <input hidden type="text" value="{{products|total_price:request.session.cart}}" name="total_charges">


                    <div class="form-group p-3">
                        <input class="btn btn-sm btn-info" type="submit" value="Confirm Checkout">
                        
                      
                     <form  action="{% url 'charge' %}" method="POST">
                            {% csrf_token %}
                            
                            <input hidden type="text" value="{{products|total_price:request.session.cart}}" name="total_qimat">
                            <script hidden src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key = "{{ context.key }}"
                            data-description = "Payment Gateway"
                            data-amount = "{{products|total_price:request.session.cart}}"
                            data-locale="auto"
                            >
                                
                            </script>
                        </form> 
                    
                    </div>
                </form>
            </div>
        </div>

        <div class="column middle col-lg-4">
            <table class="table">
            
                <thead>
                    <tr>
                        <th>Serial No.</th>
                        <th>Image</th>
    
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
    
    
                    </tr>
                </thead>
                <tbody>
                    {%for product in products%}
                    <tr>
                        <td >{{forloop.counter}}</td>
                        <td><img style="height:80px" src="{{product.img.url}}" class="rounded" alt=""></td>
    
                        <td>{{product.name}}</td>
                        <td>₨.{{product.price}}/-</td>
                        <td>{{product|cart_count:request.session.cart}}</td>
                        <td>₨.{{product|total_price_per_product:request.session.cart}}/-</td>
                        
                        
                    </tr>
                    {%endfor%}
    
                    
    
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4" class="text-center">Total</th>
                        <th >Products: {{products|total_items:request.session.cart}}</th>
                        
    
    
                        <th >Bill: ₨.{{products|total_price:request.session.cart}}/-</th>

                
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="column right"></div>
    </div>
    
  
</div>
{% endblock content %}